body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}
.calendar-block {
    max-width: 1050px;
    margin: 0 auto;
}

.calendar-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.calendar-control h1 {
    margin: 0;
}
.calendar-control div {
    height: fit-content;
    display: flex;
    flex-direction: inherit;
    align-items: center;
}
.calendar-control #previous-month, .calendar-control #next-month {
    margin: 0 5px;
    margin-top: 5px;
    font-size: 32px;
}
.calendar-control span {
    color: #9a9a9a;
    user-select: none;
}
.calendar-control span:hover {
    color: black;
    cursor: pointer;
}
#refresh {
    font-size: 32px;
}